{% load static %}
<!DOCTYPE html>
<html lang="en">
    <style>
    .auth-flipped {
        transform: rotateY(180deg);
    }
</style>
<head>
    <link rel="icon" type="image/png" href="{% static 'attached_assets/MINILOGO.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Ledgerly{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'dist/output.css' %}">

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
</head>

<body class="min-h-screen bg-gray-50 text-gray-900">
    {% block content %}
    {% endblock %}
</body>
</html>
